@font-face {
  font-family: 'vazir';
  src: url(./vazir-font-v16.1.0/Vazir-Light.woff2),
  url(./vazir-font-v16.1.0/Vazir-Light.woff);
}

@font-face {
  font-family: 'vazir-md';
  src: url(./vazir-font-v16.1.0/Vazir-Medium.woff2),
  url(./vazir-font-v16.1.0/Vazir-Medium.woff);
}