html , body {
  font-family: 'vazir';
  font-size: 16px;
}

body {
  background: radial-gradient(#e66465, #9198e5);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#game-canvas {
  margin-top: 5rem;
  width: 90vw;
  height: 90vw;
  max-width: 700px;
  max-height: 700px;
}

.start {
  font-size: 2rem;
  color: white;
  position: relative;
  z-index: 10001;
  background-color: rgb(239, 60, 60);
  border-radius: 100px;
  padding: 1rem 2rem;
  user-select: none;
}

.start:hover {
  cursor: pointer;
}

.game-over {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  position: relative;
  right: -10px;
  display: none;
}

.scores {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.current-score {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
}

.top-score {
  color: rgb(109, 249, 84);
  font-size: 2rem;
}

.top-score-number {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.current-score {
  font-size: 2rem;
  color: azure;
}

.score {
  font-size: 4rem;
  color: azure;
  display: flex;
  justify-content: center;
}

@media (min-width : 768px) {
  .button-box {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5%;
    margin-left: 5%;
    transform: scale(4);
    transform-origin: top left;
  }
}

@media (min-width : 1025px) {
  .button-box {
    margin-top: 4%;
  }
}

@media (min-width : 1441px) {
  .button-box {
    margin-top: 3%;
  }
}

@media (max-width : 768px) {
  .top-score {
    display: none;
  }

  .current-score {
    margin: 0;
  }

  .button-box {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 6%;
    margin-left: 5%;
    transform: scale(4);
    transform-origin: top left;
  }

}

@media (max-width : 425px) {
  .button-box {
    margin-top: 12%;
    margin-left: 5%;
    transform: scale(2.5);
  }
}

@media (max-width : 375px) {
  .button-box {
    margin-top: 14%;
  }
}

@media (max-width : 320px) {
  .button-box {
    margin-top: 16%;
  }
}

.button {
  padding: .1rem .1rem;
  border-radius: 1rem;
  user-select: none;
}

.button:hover {
  cursor: pointer;
}