html , body {
  font-family: 'vazir';
  font-size: 16px;
}

body {
  background: radial-gradient(#e66465, #9198e5);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.game-name {
  font-size: 2rem;
  color: azure;
}

.score {
  font-size: 5rem;
  color: azure;
}

#game-canvas {
  margin-top: 5rem;
  width: 80vw;
  height: 80vw;
  max-width: 700px;
  max-height: 700px;
}

.start {
  font-size: 2rem;
  color: white;
  position: relative;
  z-index: 10001;
  background-color: rgb(239, 60, 60);
  border-radius: 100px;
  padding: 1rem 2rem;
  user-select: none;
}

.start:hover {
  cursor: pointer;
}

.game-over {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  position: relative;
  top: -500px;
  right: -10px;
  display: none;
}

/* @media (min-width : 300px) {
  #game-canvas {
    width: 250px !important;
    height: 250px !important;
  }
}

@media (min-width : 600px) {
  #game-canvas {
    width: 500px !important;
    height: 500px !important;
  }
}

@media (min-width : 1024px) {
  #game-canvas {
    width: 700px !important;
    height: 700px !important;
  }
} */